streamlit>=1.30.0
google-auth>=2.20.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.100.0
gspread>=5.10.0
pandas>=2.0.0
matplotlib>=3.7.0
streamlit
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
streamlit-quill
